# ============================================================
# GAME MACHINE - .gitignore
# Rule:(ISOs, BIOS, emulators kabhi GitHub pe nahi jane chahiye!)
# ============================================================

# Python ka kachra phir bhi block rahe (covers/ ke andar bhi)
__pycache__/
*.pyc

# Local playtime statistics
playtime.json

# Cover Art Cache (Keep locally, ignore on Git/GitHub)
covers/*
!covers/
!covers/*.py


